<footer class="bg-dark text-light text-center mt-5">
  <!-- Copyright -->
  <div class="text-center p-3" style="">
    © 2020 Copyright:
    <a class="" href="/">MovieForYou</a>
  </div>
  <!-- Copyright -->
</footer>